.mainStyleViewTask {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    align-items: center;
}

.cardStyleTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    min-width: 600px;
    border: 1px solid rgba(34, 34, 34, 0.05);
    border-radius: 4px;
    padding: 5px;
}

.btnNewTask {
    position: relative;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    color: white;
    background: green;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.btnNewTask:focus {
    outline: none;
}

.btnNewTaskEdit {
    position: relative;
    margin-right: 10px;
    color: white;
    background: green;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.btnNewTaskEdit:focus {
    outline: none;
}

.btnNewTaskDel {
    position: relative;
    margin-right: 10px;
    color: white;
    background: red;
    padding: 5px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.listViewStyleTasks {
    margin-top: 50px;
    max-height: 400px;
    overflow: auto;
}

.boxInputTask {
    margin-top: 10px;
}

.mainNewTaskStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    flex: 1;
}

.btnNewTaskPlus {
    color: white;
    background: green;
    max-width: 200px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.inputStyleNameTask {
    padding: 10px;
    border-radius: 8px;
    max-width: 200px;
    outline: none;
}

.styleTitleTasks {
    text-align: center;
    margin-bottom: 10px;
}

.styleDisplayButtonsActions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.styleFooterButton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 12px;
    padding: 10px;
}

.elementBtnPaginate {
    cursor: pointer;
}