.mainNewTaskStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    flex: 1;
}

.btnNewTaskPlus {
    color: white;
    background: green;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.btnNewTaskRemove {
    color: white;
    background: red;
    max-width: 200px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
}

.inputStyleNameTask {
    padding: 10px;
    border-radius: 8px;
    max-width: 200px;
    outline: none;
}

.boxInputTask {
    margin-top: 10px;
}

.displayElementInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.flexDirectionFieldAndBtnRemove {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elementsMainArrayField {
    display: flex;
    align-items: center;
    flex-direction: column;
}